<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi! I'm a CS major at Yale University. I am interested in creative use cases for Agentic AI, ML optimization, 
          and game development. Recently, I've done internships at start-ups like Open City Labs and corporate companies like Cotality
         (formerly Corelogic). I look forward to building more applications that drive positive change.</p>
      </div>
      <div class="col-lg-4">
        <p>In my free time, I love to read in genres ranging from science fiction to memoirs. I've been a bharatanatyam dance for more 
          than 10 years and lead my school's Indian Classical Dance team. I'm always tring to challenge myself in new ways. 
        </p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
